n8n/v2-workflow.json
{
  "name": "Award Letter Analyzer v2 (Claude Haiku → Sonnet fallback)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v2/award-letter-batch-analysis",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "rawBody": false
        }
      },
      "id": "webhook-v2",
      "name": "Webhook v2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 0],
      "webhookId": "award-letter-v2-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Find the uploaded image binary and build the full Anthropic request body.\n// IMPORTANT: on n8n Cloud, binary.data is a filesystem pointer (e.g. 'filesystem-v2'),\n// NOT the actual base64. We must call getBinaryDataBuffer to read the real bytes.\nconst item = items[0];\nconst binaries = item.binary || {};\nconst keys = Object.keys(binaries);\nif (keys.length === 0) {\n  throw new Error('No binary file received. Available keys: ' + JSON.stringify(Object.keys(item)));\n}\nconst key = binaries.pdfFile ? 'pdfFile' : keys[0];\nconst binary = binaries[key];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, key);\nconst base64 = buffer.toString('base64');\nconst mime = binary.mimeType || 'image/jpeg';\n\nconst prompt = `You are a college financial aid analyst. Analyze this award letter image.\n\nSTEP 1 — IDENTIFY EACH LINE ITEM. Categorize every line by TYPE:\n\nGIFT AID (free money — never repaid):\nKeywords: Grant, Scholarship, Award, Merit, SEOG, Pell, TAP\n\nLOANS (debt — must be repaid):\nKeywords: Loan, Subsidized, Unsubsidized, PLUS, Direct, Perkins\n\nWORK-STUDY (earned money — student must work):\nKeywords: Work-Study, Work Study, Employment, FWS\n\nSTEP 2 — CALCULATE:\n- total_gift_aid = grants + scholarships ONLY (no loans, no work-study)\n- net_price = total_cost_of_attendance − total_gift_aid (never negative)\n- out_of_pocket_payment = net_price (loans are OPTIONAL debt)\n\nSTEP 3 — RETURN ONLY THIS JSON OBJECT (not an array, no markdown, no fences, no commentary):\n{\n  \"college_name\": \"Name from letterhead\",\n  \"total_cost_of_attendance\": 0,\n  \"direct_costs\": {\"tuition\": 0, \"housing\": 0, \"fees\": 0},\n  \"grants_scholarships\": {\"institutional_merit\": 0, \"pell_grant\": 0, \"state_grant\": 0, \"total_gift_aid\": 0},\n  \"loans\": {\"federal_subsidized\": 0, \"federal_unsubsidized\": 0, \"parent_plus\": 0, \"private_loans\": 0},\n  \"work_study\": 0,\n  \"net_price\": 0,\n  \"out_of_pocket_payment\": 0,\n  \"analysis\": {\"debt_warning\": \"Low|Medium|High|Critical\", \"value_score\": 0}\n}\n\nDebt warning rules:\n- Low: loans < $5,000/yr, no Parent PLUS\n- Medium: loans $5,000–10,000/yr\n- High: loans > $10,000/yr OR net price > $30,000\n- Critical: Parent PLUS present OR net price > $50,000\n\nvalue_score is 0–100. Higher = better deal.\n\nOUTPUT THE JSON OBJECT ONLY.`;\n\nconst strictPrompt = `You are a college financial aid analyst. The previous attempt produced invalid JSON. Be EXTRA strict.\n\nReturn ONLY a single JSON object — no markdown, no code fences, no prose, no array wrapper.\n\nSchema (all numbers required, use 0 if unknown):\n{\n  \"college_name\": string,\n  \"total_cost_of_attendance\": number,\n  \"direct_costs\": {\"tuition\": number, \"housing\": number, \"fees\": number},\n  \"grants_scholarships\": {\"institutional_merit\": number, \"pell_grant\": number, \"state_grant\": number, \"total_gift_aid\": number},\n  \"loans\": {\"federal_subsidized\": number, \"federal_unsubsidized\": number, \"parent_plus\": number, \"private_loans\": number},\n  \"work_study\": number,\n  \"net_price\": number,\n  \"out_of_pocket_payment\": number,\n  \"analysis\": {\"debt_warning\": \"Low\" | \"Medium\" | \"High\" | \"Critical\", \"value_score\": number}\n}\n\nRules:\n- total_gift_aid = ONLY grants + scholarships (no loans, no work-study)\n- net_price = total_cost_of_attendance − total_gift_aid (never negative)\n- debt_warning: Low <$5k loans/no PLUS, Medium $5–10k, High >$10k or net>$30k, Critical PLUS or net>$50k\n- value_score: 0–100, higher = better deal\n\nOUTPUT THE JSON OBJECT ONLY. NO OTHER TEXT.`;\n\nconst makeBody = (model, text) => ({\n  model,\n  max_tokens: 2048,\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'base64', media_type: mime, data: base64 } },\n      { type: 'text', text }\n    ]\n  }]\n});\n\nreturn [{\n  json: {\n    haikuBody: makeBody('claude-haiku-4-5-20251001', prompt),\n    sonnetBody: makeBody('claude-sonnet-4-6', strictPrompt),\n    fileName: binary.fileName || 'unknown'\n  }\n}];"
      },
      "id": "prep-image",
      "name": "Prep image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1380, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.haikuBody }}",
        "options": { "timeout": 60000 }
      },
      "id": "haiku-call",
      "name": "Claude Haiku 4.5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1140, 0],
      "credentials": {
        "anthropicApi": { "id": "REPLACE_WITH_YOUR_ANTHROPIC_CRED_ID", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate Claude's response. Strip markdown fences, parse JSON, check shape.\nconst response = items[0].json;\nconst raw = response?.content?.[0]?.text ?? '';\n\nfunction clean(text) {\n  let t = String(text).trim();\n  t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const first = t.search(/[\\[{]/);\n  const last = Math.max(t.lastIndexOf(']'), t.lastIndexOf('}'));\n  if (first !== -1 && last > first) t = t.substring(first, last + 1);\n  return t.replace(/,\\s*([\\]}])/g, '$1');\n}\n\ntry {\n  const cleaned = clean(raw);\n  const parsed = JSON.parse(cleaned);\n  // Unwrap single-element array if Claude returned one despite instructions.\n  const obj = Array.isArray(parsed) ? parsed[0] : parsed;\n  // Minimal shape check; full Zod validation happens in Next.js.\n  const ok = obj\n    && typeof obj.college_name === 'string'\n    && typeof obj.net_price === 'number'\n    && typeof obj.total_cost_of_attendance === 'number'\n    && obj.analysis && typeof obj.analysis.debt_warning === 'string';\n  if (!ok) return [{ json: { valid: false, raw, reason: 'shape_check_failed' } }];\n  return [{ json: { valid: true, data: obj } }];\n} catch (e) {\n  return [{ json: { valid: false, raw, reason: 'parse_error: ' + e.message } }];\n}"
      },
      "id": "validate-haiku",
      "name": "Validate Haiku",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Haiku valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond (success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-420, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Prep image').item.json.sonnetBody }}",
        "options": { "timeout": 60000 }
      },
      "id": "sonnet-fallback",
      "name": "Claude Sonnet 4.6 (fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-420, 120],
      "credentials": {
        "anthropicApi": { "id": "REPLACE_WITH_YOUR_ANTHROPIC_CRED_ID", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst raw = response?.content?.[0]?.text ?? '';\nfunction clean(text) {\n  let t = String(text).trim();\n  t = t.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  const first = t.search(/[\\[{]/);\n  const last = Math.max(t.lastIndexOf(']'), t.lastIndexOf('}'));\n  if (first !== -1 && last > first) t = t.substring(first, last + 1);\n  return t.replace(/,\\s*([\\]}])/g, '$1');\n}\ntry {\n  const cleaned = clean(raw);\n  const parsed = JSON.parse(cleaned);\n  const obj = Array.isArray(parsed) ? parsed[0] : parsed;\n  return [{ json: { valid: true, data: obj } }];\n} catch (e) {\n  return [{ json: { valid: false, raw, reason: 'sonnet_parse_error: ' + e.message } }];\n}"
      },
      "id": "validate-sonnet",
      "name": "Validate Sonnet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-180, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ $json.valid ? JSON.stringify($json.data) : JSON.stringify({ error: 'analysis_failed', reason: $json.reason, raw: $json.raw }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-fallback",
      "name": "Respond (fallback)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [60, 120]
    }
  ],
  "connections": {
    "Webhook v2": { "main": [[{ "node": "Prep image", "type": "main", "index": 0 }]] },
    "Prep image": { "main": [[{ "node": "Claude Haiku 4.5", "type": "main", "index": 0 }]] },
    "Claude Haiku 4.5": { "main": [[{ "node": "Validate Haiku", "type": "main", "index": 0 }]] },
    "Validate Haiku": { "main": [[{ "node": "Haiku valid?", "type": "main", "index": 0 }]] },
    "Haiku valid?": {
      "main": [
        [{ "node": "Respond (success)", "type": "main", "index": 0 }],
        [{ "node": "Claude Sonnet 4.6 (fallback)", "type": "main", "index": 0 }]
      ]
    },
    "Claude Sonnet 4.6 (fallback)": { "main": [[{ "node": "Validate Sonnet", "type": "main", "index": 0 }]] },
    "Validate Sonnet": { "main": [[{ "node": "Respond (fallback)", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" }
}
